{% if count >= 1 %}
<div class="conciergeCount">
  <strong>{{ count }}</strong>&nbsp; {{ 'user'|t('concierge') }}{{ (count > 1 ) ? 's'}} {{ 'awaiting moderation'|t('concierge') }}
</div>
<div class="buttons">
  <a class="btn submit" href="{{ url('concierge') }}">{{ 'Go activate'|t('concierge') }}</a>
</div>
{% elseif count == 0 %}
<p>
  {{ 'You do not have any pending registrations'|t('concierge') }}.
</p>
{% endif %}
